In [2]:
import numpy as np
import cv2
import pickle
import pandas as pd
from keras_preprocessing.image import ImageDataGenerator
import os

In [5]:
x=pickle.load(open('C:\\Users\\Ayanabha\\Capstone\\Pickles\\x_rwth.pkl','rb'))
y=pickle.load(open('C:\\Users\\Ayanabha\\Capstone\\Pickles\\y_rwth.pkl','rb'))

In [ ]:
im_data=[]
label_data=[]
for i in range(len(x)):
    image=cv2.imread(x[i])
    print(x[i])
    if image is not None:
        image=cv2.cvtColor(image, cv2.COLOR_BGR2RGB)
        image=image.tolist()
        im_data.append(image)
        label_data.append(y[i])

In [6]:
data={'id':x,'sign':y}
df=pd.DataFrame(data)

In [4]:
datagen=ImageDataGenerator()
data_set = datagen.flow_from_dataframe(dataframe=df,
                                        directory=None,
                                        x_col="id", y_col="sign",
                                        batch_size=16, seed=42,
                                        class_mode="categorical",
                                        target_size=(120,160),
                                          shuffle=False)

Found 1107 validated image filenames belonging to 10 classes.

In [5]:
#X
X=data_set[0][0]
for i in range(1,len(data_set)):
    print(i)
    X=np.concatenate((X,data_set[i][0]),axis=0)
X.shape

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69

(1107, 120, 160, 3)

In [6]:
pickle.dump(X, open('C:\\Users\\Ayanabha\\Capstone\\Pickles\\imdata_rwth_sample.pkl', 'wb'))

In [3]:
x=pickle.load(open('C:\\Users\\Ayanabha\\Capstone\\Pickles\\x_rwth.pkl','rb'))

In [4]:
len(x)

1107

In [11]:
df=pd.read_csv('Datasets\\imageData2_cambridge.csv')

In [8]:
df.iloc[:,-1].value_counts()

HEUTE NACHT VIEL REGION STARK WOLKE MOEGLICH BISSCHEN AUSWAEHLEN REGEN BESONDERS ALPEN ABER STERN KOENNEN SEHEN    181
NACHT SCHAUER AUCH FLUSS SUED REGION REGEN                                                                         177
DEZEMBER ANFANG REGEN HEUTE LEUTE NACH-HAUSE NACH-HAUSE NACH-HAUSE NACH-HAUSE DAS-IST-ES HEUTE VOR MITTAG W IX     171
WIND SCHWACH MAESSIG NORD SEE IX KOENNEN FRISCH WEHEN                                                              131
MORGEN KUESTE KOENNEN REGEN WIND REGION FREUNDLICH                                                                 118
KOMMEN ALLE KOMMEN WARM SONNE AUS FRANKREICH KOMMEN                                                                 93
FREITAG BISSCHEN WETTER WECHSELHAFT WEITER                                                                          86
ENDLICH WIRKLICH SOMMER KOMMEN                                                                                      57
LIEB ZUSCHAUER ABEND                                                                                                53
TEIL AUCH NEBEL                                                                                                     40
Name: sign, dtype: int64

In [7]:
df

,id,sign
0,D:\Capstone utilities\Datasets\RWTH_PHOENIX_fr...,DEZEMBER ANFANG REGEN HEUTE LEUTE NACH-HAUSE N...
1,D:\Capstone utilities\Datasets\RWTH_PHOENIX_fr...,DEZEMBER ANFANG REGEN HEUTE LEUTE NACH-HAUSE N...
2,D:\Capstone utilities\Datasets\RWTH_PHOENIX_fr...,DEZEMBER ANFANG REGEN HEUTE LEUTE NACH-HAUSE N...
3,D:\Capstone utilities\Datasets\RWTH_PHOENIX_fr...,DEZEMBER ANFANG REGEN HEUTE LEUTE NACH-HAUSE N...
4,D:\Capstone utilities\Datasets\RWTH_PHOENIX_fr...,DEZEMBER ANFANG REGEN HEUTE LEUTE NACH-HAUSE N...
...,...,...
1102,D:\Capstone utilities\Datasets\RWTH_PHOENIX_fr...,WIND SCHWACH MAESSIG NORD SEE IX KOENNEN FRISC...
1103,D:\Capstone utilities\Datasets\RWTH_PHOENIX_fr...,WIND SCHWACH MAESSIG NORD SEE IX KOENNEN FRISC...
1104,D:\Capstone utilities\Datasets\RWTH_PHOENIX_fr...,WIND SCHWACH MAESSIG NORD SEE IX KOENNEN FRISC...
1105,D:\Capstone utilities\Datasets\RWTH_PHOENIX_fr...,WIND SCHWACH MAESSIG NORD SEE IX KOENNEN FRISC...
1106,D:\Capstone utilities\Datasets\RWTH_PHOENIX_fr...,WIND SCHWACH MAESSIG NORD SEE IX KOENNEN FRISC...